.image-container {
  display: flex;
  flex-direction: row;
  padding: 1em 1em;
}

.image-container > img {
  min-width: 15em;
  min-height: 100%;
  max-height: 15em;
  max-width: 15em;
  object-fit: cover;
}
